@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap);
* {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

nav {
    background-color: rgba(199, 222, 240, 0.8);
}

a {
    text-decoration: none !important;
}


/* global styles */

.text-bold {
    font-weight: bold;
}

.text-100 {
    font-weight: 100;
}

.text-600 {
    font-weight: 600;
}

.text-white {
    color: white;
}

.background-image {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.text-upercase {
    text-transform: uppercase;
}


/* page styles */

.header {
    z-index: 100;
}

.animate__animated.animate__bounceInDown {
    --animate-duration: 2s;
}

.animate__animated.animate__bounceInUp {
    --animate-duration: 2s;
}

.header {
    position: fixed;
}

.social-media {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
}

.icons {
    width: 35px;
    margin: 10px 15px;
}

.profile {
    height: 100vh;
    width: 100%;
    background-image: url(/img/fondo.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-profile {
    padding: 2rem;
    background: rgba(0, 0, 0, .4);
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (min-width:768px) {
    .profile {
        background-size: cover;
    }
    .info-profile {
        display: flex;
    }
}

.my-image {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    padding: 10px;
    margin-bottom: 15px;
}

.text-name {
    text-align: center;
    color: white;
}

.about {
    background-color: #80C0F7;
    position: relative;
}

.description-background {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    max-width: 600px;
    padding-top: 20px;
}

.description p {
    text-align: justify;
}

@media (min-width:768px) {
    .description p {
        font-size: 25px;
    }
}

.animate-text {
    opacity: 0;
}

.btn {
    background-color: white;
    color: #222;
    padding: .5em 1em;
    border: none;
    outline: none;
    position: relative;
    border-radius: 0;
}

.btn.btn-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #23ADDE;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
    transform: scaleX(1);
}

.btn.btn-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
    color: white;
}

.projects {
    background-color: #5C9DD6;
    position: relative;
    height: auto;
    width: 100%;
    padding-bottom: 90px;
}

.title-proyects {
    text-align: center;
    padding-top: 30px;
}

.animate-text-projects {
    opacity: 0;
    font-size: 2.5rem;
}

.hr-projects {
    border-top: 2px solid white;
}

.box {
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, .27);
    border-radius: 10px;
}

.box:before {
    content: '';
    position: absolute;
    background-color: #2388D0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.4s linear;
}

.box:hover:before {
    opacity: 1;
}

.box img {
    width: 100%;
    height: auto;
    transition: all 0.4s linear;
}

.box:hover img {
    opacity: 0;
    transform: scale(3);
}

.box .box-content {
    color: white;
    width: 100%;
    transform: translateY(-50%) scale(0);
    position: absolute;
    top: 40%;
    left: 0;
    transition: all 0.6s linear;
    padding: 20px;
}

.box:hover .box-content {
    transform: translateY(-50%) scale(1);
}

.box .box-content .title {
    text-transform: uppercase;
    font-size: .9rem;
}

.box .box-content .tecnologi {
    text-transform: uppercase;
    font-weight: 100;
    font-size: .8rem;
}

.box .box-content .description {
    text-transform: capitalize;
    text-align: left;
    font-size: .8rem;
}

@media (min-width: 768px) {
    .box .box-content .title {
        font-size: 1.75rem;
    }
    .box .box-content .description,
    .box .box-content .tecnologi {
        font-size: 1rem;
    }
}

.box .icons {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 43px;
    bottom: 10px;
    display: flex;
}

.box .icons li {
    margin: 0 2px;
    opacity: 0;
    transform: scale(1.3);
    transition: all 0.4s linear;
}

.box:hover .icons li {
    opacity: 1;
    transform: scale(1);
}

.box:hover .icons li:nth-child(2) {
    transition: all 0.3s ease 0.2s;
}

.box .icons li a {
    color: black;
    background-color: white;
    font-size: 16px;
    line-height: 33px;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    display: block;
    transition: all 0.5s ease;
}

.footer {
    background-color: rgb(199, 222, 240);
    height: auto;
}


/* footer */

.info-footer {
    padding: 20px;
}

.info-footer ul {
    margin-bottom: 0px;
}

.icons-footer {
    display: flex;
    justify-content: center;
}

.icons-footer li a {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.correo {
    display: flex;
    align-items: center;
}

.correo p {
    margin-bottom: 0;
}

.icons-footer li a p {
    margin-bottom: 0px;
}


/* Divisiones */

.custom-shape-divider-top-1604110882 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1604110882 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 151px;
}

.custom-shape-divider-top-1604110882 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1604612981 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1604612981 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

.custom-shape-divider-bottom-1604612981 .shape-fill {
    fill: #5C9DD6;
}